.content{
  font-size: 16px;
  margin-top:70px;
}

header {
  position: fixed;
  width: 100%;
  height: 50px;
  top:0;
  background-color: rgb(219, 219, 219);
}

a {
  color: Black;
}

a:hover {
  color: grey;
  text-decoration: none;
}

.border-top {
  border-top: 1px solid rgb(218, 218, 218);
}
.border-bottom {
  border-bottom: 1px solid rgb(221, 221, 221);
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}


html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  background-color: white;
}
